body{
	user-select:none;
	overflow:scroll;
	overflow-y:hidden;
	overflow-x:hidden
}
#txthelp{
	display: none;
}
#progress{
	position: absolute;
	left: 20%;
	top: 100px;
	font-size: 30px;
}
button{
	text-align: center;
	padding: 0px;
	opacity: 0.8;
	font-size: 15px;
	width: 50px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
}
button.blueOn {
	background-color: #88F;
	color: #DAF;
}
button.blueOff {
	background-color: #EEF;
	color: #228;
}
button.blue {
	background-color: #DDF;
	color: #007;
}
button.green {
	background-color: #DFD;
	color: #070;
}
button.greenOn {
	background-color: #3F3;
	color: #030;
}
button.red {
	background-color: #FDD;
	color: #700;
}
button.yellow {
	background-color: #FFB;
	color: #660;
}
button.yellowOn {
	background-color: #FF0;
	color: #330;
}
button.white {
	background-color: #FFF;
	color: #555;
}
button.keytemp {
	background-color: #EEE;
	color: #335;
	font-size: 0.5em;
	word-wrap: break-word; 
	word-break: break-all; 
}
button.dis {
	background-color: #EEE;
	color: #335;
}
div.panel {
	position: absolute;
	word-wrap:break-word;
	left: 4%;
	top: 8px;
	z-index:1;
}
div.help {
	position: absolute;
	left: 25%;
	top: 100px;
	padding: 5px;
	width: 50%;
	z-index:4;
	background-color: #FFF;
	opacity: 0.8;
	display: none;
}
div.tempo {
	position: absolute;
	left: 55%;
	top: 100px;
	padding: 5px;
	width: 210px;
	z-index:4;
	background-color: #FFC;
	opacity: 0.8;
	display: none;
}
canvas.ioorpon {
	position: absolute;
	left: 10%;
	bottom: 40px;
	z-index:100;
	background-color: rgba(153,153,153,0.7);
	opacity: 0.6;
	display: none;
}
canvas.kiboard {
	position: absolute;
	left: 10px;
	top: 80px;
	z-index:99;
	background-color: rgba(255,255,255,0.7);
	opacity: 0.6;
	display: none;
}
div.dialog {
	position: absolute;
	left: 40%;
	top: 100px;
	padding: 5px;
	width: 210px;
	z-index:5;
	background-color: #FDD;
	opacity: 0.8;
	display: none;
}
div.channel {
	position: absolute;
	left: 40%;
	top: 100px;
	padding: 5px;
	z-index:6;
	background-color: #DFD;
	opacity: 0.8;
	display: none;
}
textarea.dialog {
	width: 200px;
	height: 150px;
}
button.dialog {
	width: 200px;
}
.small {
	font-size: 7px;
}
.wave {
	z-index:2;
	position: absolute;
	left: 100px;
	top: 100px;
	height: 200px;
}